<h2>Edit Blog</h2>
<%= form_with model: @blog, method: :patch do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title %>
  <br><br>
  <%= form.label :content %>
  <%= form.text_field :content %>
  <br><br>
  <%= form.submit "Edit blog" %>
<% end %>

<p>
  <%= link_to 'Back to Home', blogs_path %>
</p>