<h3><%= @blog.title %></h3>
<h4> Content: <%= @blog.content %> </h4>


<%= button_to 'Remove Blog', delete_blog_path, method: 'delete' %>
<br/>
<%= link_to 'Back to Blogs', blogs_path %> 
<%= link_to 'Edit Blog', edit_blog_path(@blog) %>